# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
.env

# Django specific
db.sqlite3
media/
staticfiles/

# IDE/Editor files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
